// -------------------------------
// 		brand colours
// -------------------------------

$light-blue: #008fc8;
$dark-blue: #235789;
$green: #00a86b;

$grey-light: #F5F5F5;
$grey-mid: #DDDDDD;
$grey-dark: #4D4F53;

$white: #fcfcfc;
$black: #000201;